- classes = []
- classes << 'is-zero' if item.quantity == 0
- classes << 'is-child' if item.parent_id
%li.delivery-item{class: classes}
  .delivery-item__mark{class: shop.name}
  - if item.image_url.present?
    .delivery-item__image
      = image_tag item.image_url
  .delivery-item__name
    = item_category(item)
    = item.name
  .delivery-item__quantity
    = item.quantity
= render partial: 'home/item', collection: item.child_items.order(:id).zero_item_back, locals: { shop: shop }